@font-face {
    font-family:"RobotoCondensed-Bold";
    src:url("RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family:"RobotoCondensed-Light";
    src:url("RobotoCondensed-Light.ttf");
}
@font-face {
    font-family:"RobotoCondensed-Regular";
    src:url("RobotoCondensed-Regular.ttf");
}