<div class="container hire-us">

  <div class="row">

    <div class="col-sm-8">
    <div class="title-wrapper">
      <h4>Hire us</h4>
    </div>
      <p>
        We've decided to make our team <span> your team.</span> We are keen to be part of your journey and help your bussiness grow.
        From design to development, from development to live, from live to attention and social media marketing, we got it all covered for you.
      </p>
      <div class="together">
        <p>We build together with you</p>
        <p>We build something that represents you</p>
      </div>
      <h6>What exactly can we do for you ?</h6>
      <ol>
        <li>
          Presentation web sites for stables, riders or events.
        </li>
        <li>
          Management web or/and mobile application for stables in order to keep track of horses, daily routine, staff management, shows management, lessons management - for equestrian ceneters and anything you may need to make your equine bussiness management easier.
        </li>
        <li>
          Management web or/and mobile application for events - keep track of competiton schedule, riders, results, etc.
        </li>
        <li>
          E-commerce web site for equine shops.
        </li>
        <li>
          All kind of graphic design - advertisments, business cards, logo, web, etc.
        </li>
      </ol>
      <h6>Get a quote</h6>

      <form #quoteForm="ngForm">
        <div class="form-group">
          <div *ngIf="email.errors && email.touched" class="client-side-validation-error">
            <small [hidden]="!email.errors.required">
              {{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.EMAIL_ERROR' | translate}}
            </small>
            <small [hidden]="!email.errors.pattern">
              {{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.EMAIL_INVALID' | translate}}
            </small>
          </div>
          <input type="text" class="form-control" [(ngModel)]="emailModel.Sender" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" #email="ngModel" name="senderEmail" placeholder="{{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.EMAIL_PLACEHOLDER' | translate}}">
        </div>

        <div class="form-group">
          <div *ngIf="senderName.errors && senderName.touched" class="client-side-validation-error">
            <small [hidden]="!senderName.errors.required">
              {{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.NAME_ERROR' | translate}}
            </small>
          </div>
          <input type="text" required #senderName="ngModel" [(ngModel)]="emailModel.SenderName" class="form-control" name="senderName" placeholder="{{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.NAME_PLACEHOLDER' | translate}}">
        </div>

        <div class="form-group">
          <div *ngIf="message.errors && message.touched" class="client-side-validation-error">
            <small [hidden]="!message.errors.required">
              {{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.MSG_ERROR' | translate}}
            </small>
          </div>
          <textarea cols="30" rows="10" name="message" required #message="ngModel" [(ngModel)]="emailModel.Message" placeholder="Tell us about your project"></textarea>
        </div>

        <button type="submit" class="btn btn-default" [disabled]="!quoteForm.form.valid" (click)="send()">{{'CONTACT_PAGE.SUBMIT_BTN' | translate}}</button>
      </form>

    </div><!-- col-sm-8 -->

    <right-side-advertisments></right-side-advertisments>

  </div><!-- row -->

</div><!-- container -->
