<div class="container">

  <div class="row">

    <div class="col-sm-8">
      <h4>HIRE US</h4>
      <hr />
      <p>
        We've decided to make our team <span> your team.</span> We are keen to be part of your journey and help your bussiness grow.
        From design to development, from development to going live, from going live to attention and social media marketing, we got it all covered for you.
      </p>
      <div>
        We build thougheth with you.
        We build something that respresents you.
      </div>
      <p>
        What exactly can we do for you ?

      </p>
      <p>
        Presentation web sites for stables, riders or events.
      </p>
      <p>
        Management web or/and mobile application for stables in order to keep track of horses, daily routine, staff management, shows management, lessons management - for equestrian ceneters and anything you may need to make your equine bussiness management easier.
      </p>
      <p>
        Management web or/and mobile application for events - keep track of competiton schedule, riders, results, etc.
      </p>
      <p>
        All kind of graphic design - advertisments, business cards, logo, web, etc.
      </p>

      GET A QUOTE:
      <form>
        <input type="text" />
      </form>

    </div><!-- col-sm-8 -->

    <right-side-advertisments></right-side-advertisments>

  </div><!-- row -->

</div><!-- container -->
