<div class="container">
  <div class="profile-info">
    <a (click)="back()" class="go-back"><i class="fa fa-angle-left" aria-hidden="true"></i> {{'HORSE_AD_DETAIL.BACK' | translate}}</a>
  </div>

  <div class="horse-wrapper">
    <ul class="category-list-title">
      <li class="category-title category-title-user">{{'UNVALIDATED_POSTS.TITLE' | translate}}</li>
    </ul>

    <horse-list [horses]="unvalidatedHorseList" [threeOnRow]="true"></horse-list>
  </div>
</div>

<pagination *ngIf="unvalidatedHorseList.length != 0" [itemsPerPage]="16" [totalItems]="totalNumber" [(ngModel)]="pageNumber" [maxSize]="8"
            class="pagination-sm" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
