<div class="container">

  <div class="row">

    <div class="col-sm-8">

      <p>Advertise</p>

      <p>We offer you the posibility to advertise on our website and get the attention of thousands of visitors per month.</p>
      <p>Once you contact us in order to place an advertisment we will keep your spot on hold it for you until the materials are received, but no longer than three weeks.
      Also, we can handle the materials and design them to suit your target audience, <a [routerLink]="['/contact']">write us.</a></p>
      <p>Prices below are listed for week and month advertisments, for longer partnerships feel free to <a [routerLink]="['/contact']">contact us.</a></p>

      <p>1. Home page slideshow banner - <span>60&euro;/week</span> - <span>200&euro;/month</span></p>
      <p>Large 1170x390px banner in our main page slideshow, visible on desktop and tablet.</p>
      <img src="../../../wwwroot/assets/images/slideshow-wide-banner.png"/>

      <p>2. Right side advertisment - <span>45&euro;/week</span> - <span>150&euro;/month</span></p>
      <p>Available on every device and visible on most of our pages, including the main page, the right side advertisment must have a width of 370px and a maximum height of 370px.</p>
      <img src="../../../wwwroot/assets/images/side-banner-adv.png" />

      <p><b>3. Down side advertisment <span>20&euro;/week</span> - <span>100&euro;/month</span></b></p>
      <p>Medium size 750x92px banner, available on every device and visible down on main page, category horse list page and horse detail page.</p>
      <img src="../../../wwwroot/assets/images/down-adv.png" />

    </div><!-- col-sm-8 -->

    <right-side-advertisments></right-side-advertisments>

  </div><!-- row -->

</div><!-- container -->
