<nav #navbarElement class="navbar nav-shadow" id="main-nav">

       <div class="social-bar-lang">
          <div class="container">

              <ul class="lang-dropdown">
                <li class="lang-dropdown-li dropdown-item" dropdown>                 
                  <a *ngIf="currentLang" id="dropdown-link-button" (click)="isLangDropdownCollapsed = !isLangDropdownCollapsed" dropdownToggle>
                    <img src="{{currentLang.imgUrl}}" /> {{currentLang.displayText}} <fa name="angle-down"></fa>
                  </a>
                  <ul id="lang-dropdown1" *dropdownMenu [collapse]="isLangDropdownCollapsed" role="menu" aria-labelledby="dropdown-link-button" class="language-drop dropdown-menu">
                      <li *ngFor="let lang of languages">
                        <img src="{{lang.imgUrl}}"/>
                        <a class="dropdown-item" (click)="changeLanguage(lang.value)">
                          {{lang.displayText}}
                        </a>
                      </li>
                  </ul>
                </li>
              </ul>

              <ul class="main-links">
                  <li><a [routerLink]="['/home']"><img src="../../../../wwwroot/assets/images/home_icon.png" alt="Home Icon"> {{ 'NAVBAR.HOME' | translate }}</a></li>
                  <li><a [routerLink]="['/advertise']"><img src="../../../../wwwroot/assets/images/adv_icon.png" alt="Home Icon"> {{ 'NAVBAR.ADVERTISE' | translate }}</a></li>
                  <li><a [routerLink]="['/contact']"><img src="../../../../wwwroot/assets/images/contact_icon.png" alt="Home Icon"> {{ 'NAVBAR.CONTACT' | translate }}</a></li>
                  <li><a [routerLink]="['/hire-us']"><img src="../../../../wwwroot/assets/images/hire-us.png" alt="Home Icon"> {{ 'NAVBAR.HIRE_US' | translate }}</a></li>
              </ul>

              <ul class="social-links">
                <li><a href="https://www.facebook.com/horsespotcom/" target="_blank"><img src="../../../../wwwroot/assets/images/facebook_share.png" alt="Facebook Share"></a></li>
                <li><a href="https://www.instagram.com/horsespotcom" target="_blank"><img src="../../../../wwwroot/assets/images/ig_share.png" alt="Instagram Share"></a></li>
                <li><a href="https://twitter.com/horsespotcom" target="_blank"><img src="../../../../wwwroot/assets/images/tw_share.png" alt="Twitter Share"></a></li>
                <li><a href="https://www.youtube.com/channel/UC-K5relSxxR0yBu-OOi9XQg" target="_blank"><img src="../../../../wwwroot/assets/images/yt_share.png" alt="YouTube Share"></a></li>
              </ul>

          </div><!-- container -->
      </div><!-- social-bar-lang -->

      <div class="container">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" (click)="burgerIconClick()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/home']"><img src="../../../../wwwroot/assets/images/logo_2.png" class="logo-img" alt="Horse Spot"></a>

        </div><!-- navbar-header -->

        <div id="navbar" class="collapse navbar-collapse" [collapse]="isBurgerMenuCollapsed">
          <div id="userPart" class="slide-from-right not-logged">
            <!-- Right part when logged in -->
            <ul *ngIf="_accountService.isLoggedIn()" class="user-logged-list">              
                  <navbar-user-part (menuItemClicked)="toggle()" (notifNumber)="setNotifNumber($event)" [userId]="_accountService.getUserId()" [userName]="_accountService.getName()"></navbar-user-part>
            </ul>
            <!-- Right part when not logged in -->
            <ul *ngIf="!_accountService.isLoggedIn()" class="login-list">
                <button type="button" class="signup-btn my-btn" (click)="signUpModal.open()">{{'NAVBAR.SIGNUP' | translate}}!</button>
                <button type="button" class="login-btn my-btn" (click)="loginModal.open()">{{'NAVBAR.LOGIN' | translate}}</button>
            </ul>
          </div><!-- slide-from-right -->

          <ul class="nav navbar-nav">
           <li><a (click)="burgerMenuItemClick()" [routerLink]="['/horses-for-sale/showjumping/1']">{{'NAVBAR.HORSES_FOR_SALE.SHOWJUMPING' | translate}}</a></li>
           <li><a (click)="burgerMenuItemClick()" [routerLink]="['/horses-for-sale/dressage/1']">{{'NAVBAR.HORSES_FOR_SALE.DRESSAGE' | translate}}</a></li>
           <li><a (click)="burgerMenuItemClick()" [routerLink]="['/horses-for-sale/eventing/1']">{{'NAVBAR.HORSES_FOR_SALE.EVENTING' | translate}}</a></li>
           <li><a (click)="burgerMenuItemClick()" [routerLink]="['/horses-for-sale/endurance/1']">{{'NAVBAR.HORSES_FOR_SALE.ENDURANCE' | translate}}</a></li>
           <li><a (click)="burgerMenuItemClick()" [routerLink]="['/horses-for-sale/driving/1']">{{'NAVBAR.HORSES_FOR_SALE.DRIVING' | translate}}</a></li>
           <li><a (click)="burgerMenuItemClick()" [routerLink]="['/horses-for-sale/foals/1']">{{'NAVBAR.HORSES_FOR_SALE.FOALS' | translate}}</a></li>
           <li><a (click)="burgerMenuItemClick()" [routerLink]="['/horses-for-sale/leisure/1']">{{'NAVBAR.HORSES_FOR_SALE.LEISURE' | translate}}</a></li>
          </ul>
        </div><!-- nav-collapse -->
      
    </div><!-- container -->

</nav>


