<aside class="col-sm-4">
  <fb-page href="https://facebook.com/horsespotcom/"></fb-page>
  <p class="adds">{{ 'ADVERTISMENTS' | translate }}</p>
  <!-- It will be replaced with google ad sense advertisment -->
  <img src="../../../../wwwroot/assets/images/banner-1.png" alt="Banner">
  <img src="../../../../wwwroot/assets/images/banner-2.jpg" href="https://kraiburg-belmondo.com/hp2/Home.htm" alt="Belmondo-Kraiburg - Rubber Floorings">
  <img src="../../../../wwwroot/assets/images/banner-3.png" href="http://www.boeckmann.com/" alt="Böckmann - First Class Transport">
  <img src="../../../../wwwroot/assets/images/banner-4.jpg" href="http://www.karpatiahorse.ro/" alt="Karpatia Horse Show">
</aside><!-- col-sm-4 -->
