<aside class="col-sm-4">
  <fb-page href="https://facebook.com/horsespotcom/"></fb-page>
  <p class="adds">{{ 'ADVERTISMENTS' | translate }}</p>

  <!--<ng-adsense [adClient]="'ca-pub-7640562161899788'"
              [adSlot]="7259870550"
              [display]="'inline-block'"
              [width]="320"
              [height]="108">
  </ng-adsense>-->

  <img src="../../../../wwwroot/assets/images/banner-2.jpg" href="https://kraiburg-belmondo.com/hp2/Home.htm" alt="Belmondo-Kraiburg - Rubber Floorings">

  <!--<ng-adsense [adClient]="'ca-pub-7640562161899788'"
              [adSlot]="7259870550"
              [display]="'inline-block'"
              [width]="320"
              [height]="108">
  </ng-adsense>-->

  <img src="../../../../wwwroot/assets/images/banner-3.png" href="http://www.boeckmann.com/" alt="Böckmann - First Class Transport">

  <!--<ng-adsense [adClient]="'ca-pub-7640562161899788'"
              [adSlot]="7259870550"
              [display]="'inline-block'"
              [width]="320"
              [height]="108">
  </ng-adsense>-->

  <img src="../../../../wwwroot/assets/images/banner-4.jpg" href="http://www.karpatiahorse.ro/" alt="Karpatia Horse Show">
</aside><!-- col-sm-4 -->
