<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="x-apple-disable-message-reformatting">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <style>
        body {
            margin: 0;
            padding: 0;
            background: #fff;
            font-family: 'Source Sans Pro', sans-serif;
        }

            body ul {
                margin: 0;
                padding: 0;
            }

            body p {
                font-size: 16px;
                line-height: 24px;
                color: #464646;
            }

            body a {
                color: #464646;
            }

        h2 {
            margin: 0;
            font-size: 20px;
            color: #fff;
        }

        b {
            font-weight: 600;
        }

        .wrapper {
            width: 700px;
            margin: 40px auto;
            background: #f4f4f4;
            border: 1px solid #e4e4e4;
            border-radius: 3px;
        }

        .background-hello {
            text-align: center;
            padding: 20px 0;
            background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.65)), url('https://www.horse-spot.com/assets/email-bg.jpg') center center no-repeat;
            background-size: cover;
            padding: 90px 15px;
        }

        .content {
            padding: 60px 15px;
            text-align: center;
            font-size: 16px
        }

        .top {
            background: #fff;
            padding: 25px 15px;
            position: relative;
        }

            .top .title {
                display: inline-block;
                margin: 0;
                text-transform: uppercase;
                color: #565656;
                font-weight: 300;
            }

            .top p {
                margin: 0;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }

        .footer {
            padding: 15px;
            background: #fff;
            text-align: center;
        }

            .footer ul li {
                display: inline-block;
                margin: 10px 0px;
            }

            .footer a {
                display: block;
                margin: 2px 0;
            }

                .footer a img {
                    width: 70%;
                }

        @@media only screen and (max-width: 767px) {
            body {
                padding: 0 15px;
            }

            .wrapper {
                width: 100%;
            }

            h2 {
                font-size: 19px;
            }

            .content {
                font-size: 15px;
            }
        }

        @@media only screen and (max-width: 650px) {
            .top {
                text-align: center;
            }

                .top .title {
                    font-size: 16px;
                }

                .top p {
                    position: static;
                    transform: translateY(0%);
                }

            .background-hello {
                padding: 40px 15px;
            }

            h2 {
                font-size: 15px;
                line-height: 23px;
            }
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="top">
            <p><img src="https://www.horse-spot.com/assets/images/logo_2.png" alt="Horse Spot Logo"></p>
            <h3 class="title">We connect horses with riders</h3>
        </div><!-- logo -->

        <div style="text-align: justify;" class="content">
            <p>Hi @Model.ReceiverFirstName,</p>
            <p>We're updating our Privacy Policy, Terms and Conditions and Cookie Policy.</p>
            <p>We are ready to meet the new standards for data privacy introduced by the <a href="https://www.eugdpr.org">General Data Protection Regulation (GDPR).</a></p>
            <p>We've improved the clarity and transparency of how we use your data and why we collect it. We've reflected this topics in our new <a href="https://www.horse-spot.com/privacy-policy">Privacy Policy</a>. Also, we've updated our <a href="https://www.horse-spot.com/terms-and-conditions">Terms and Conditions</a> and we've detailed how we use the cookies in our <a href="https://www.horse-spot.com/cookies-usage">Cookie Policy</a></p>
            <p>In addition to this, we've gave you more control over your data. Our policy explains how you can make choices about your information.</a></p>
            <p>These updates will take effect on May 25, 2018 and by using HorseSpot on or after that date, you'll be agreeing to the above changes.</p>
            <p>For any further assistance, please write to us at <a href="mailto:contact@horse-spot.com">contact@horse-spot.com.</a></p>
            <p>Best regards, <br /> HorseSpot Team</p>
        </div><!-- text -->

        <footer class="footer">
            <ul>
                <li><a href="https://www.facebook.com/horsespotcom/" target="_blank"><img src="https://www.horse-spot.com/assets/images/facebook_share.png" alt="Facebook Icon"></a></li>
                <li><a href="https://www.instagram.com/horsespotcom" target="_blank"><img src="https://www.horse-spot.com/assets/images/ig_share.png" alt="Instagram Icon"></a></li>
                <li><a href="https://twitter.com/horsespotcom" target="_blank"><img src="https://www.horse-spot.com/assets/images/tw_share.png" alt="Twitter Icon"></a></li>
                <li><a href="https://www.youtube.com/channel/UC-K5relSxxR0yBu-OOi9XQg" target="_blank"><img src="https://www.horse-spot.com/assets/images/yt_share.png" alt="YouTube Icon"></a></li>
            </ul>
            <a href="https://www.horse-spot.com" target="_blank">www.horse-spot.com</a>
            <a href="mailto:contact@horse-spot.com" target="_blank">contact@horse-spot.com</a>
        </footer>
    </div>
</body>
</html>


