<div class="profile-info">

  <div class="container">

    <a (click)="back()" class="go-back"><i class="fa fa-angle-left" aria-hidden="true"></i> {{'HORSE_AD_DETAIL.BACK' | translate}}</a>

    <div class="row">
      <div class="col-sm-3 profile-image">
        <img src="{{profilePhotoUrl}}">
        <div *ngIf="userModel.UserId == currentUserId" class="change-img-hover">
          <input type="file" name="change-profile-pic" id="profile-pic" (change)="onFileInputEventChange($event)">
          <label for="profile-pic"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
        </div>
        <p *ngIf="!validUpload" class="client-side-validation-error">{{'PROFILE.UNSUPPORTED_PIC' | translate}} </p>
        <p *ngIf="!uploadImageErrorMessage" class="client-side-validation-error">{{uploadImageErrorMessage}} </p>
      </div><!-- col-sm-3 -->

      <div class="col-sm-6 profile-details">
        <div style="border-bottom: 1px solid #ccc;" *ngIf="userModel.UserId == currentUserId">
          <p *ngIf="!isEditMode && !isPrivacySettings" (click)="isEditMode=!isEditMode" class="edit-info-btn write">{{'PROFILE.EDIT_BTN' | translate}}</p>
          <p *ngIf="isEditMode || isPrivacySettings" (click)="saveChanges()" class="save-btn write">{{ 'PROFILE.SAVE_BTN' | translate }}</p>
          <p *ngIf="isEditMode || isPrivacySettings" (click)="isEditMode=false; isPrivacySettings=false" class="save-btn write"> {{'PROFILE.CANCEL_BTN' | translate}}</p>
          <p *ngIf="isEditMode && editErrorMessage" class="client-side-validation-error">{{editErrorMessage}}</p>
          <p *ngIf="profileNameError" class="client-side-validation-error"> {{'PROFILE.PROFILE_NAME_ERROR' | translate}}</p>
          <p *ngIf="!isEditMode && !isPrivacySettings" (click)="changePasswordModal.show()" class="changePass-btn write"> {{'PROFILE.CHANGE_PASS.TITLE' | translate}}</p>

          <p *ngIf="!isEditMode && !isPrivacySettings" (click)="isPrivacySettings=!isPrivacySettings" class="edit-info-btn write">Privacy Settings</p>
          <p *ngIf="!isEditMode && !isPrivacySettings" class="edit-info-btn write" (click)="deleteAccountModal.show()">Delete Account</p>
        </div>

        <div *ngIf="isPrivacySettings" class="edit-info navbar-modals">
          <p>
              This settings are affecting you horse spot profile page and your advertisments. <br />
              However, even if you do not want to display your email and phone number on your advertisments, the clients can contact you through our send email functionality. 
          </p>

          <div>
            <input type="checkbox" name="newsletter-checkbox-ext" autocomplete="off" [(ngModel)]="userModel.NewsletterSubscription"> <span>I want to receive news and horse advertisments through email.</span>
          </div>

          <div>
            <input type="checkbox" name="display-email-ext" autocomplete="off" [(ngModel)]="userModel.DisplayEmail"> <span>I agree to display my email on my horse spot profile and advertisments.</span>
          </div>

          <div *ngIf="userModel.PhoneNumber">
            <input type="checkbox" name="display-phone-ext" autocomplete="off" [(ngModel)]="userModel.DisplayPhoneNumber"> <span>I agree to display my phone number on my horse spot profile and advertisments.</span>
          </div>
        </div>

        <div *ngIf="!isEditMode && !isPrivacySettings" class="main-info">
          <p class="name">{{userModel.FullName}}</p>
          <ul class="email">
            <li *ngIf="userModel.PhoneNumber && userModel.DisplayPhoneNumber"><a href="tel:{{userModel.PhoneNumber}}"><i class="fa fa-mobile" aria-hidden="true"></i> {{userModel.PhoneNumber}}</a></li>
            <li *ngIf="userModel.DisplayEmail"><a href="email:{{userModel.Email}}"><i class="fa fa-envelope" aria-hidden="true"></i> {{userModel.Email}}</a></li>
          </ul>
        </div><!-- main-info -->

        <div *ngIf="isEditMode" class="edit-info">
          <form class="cf">
            <div class="form-group profile-name">
              <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
              <input type="text" class="change-name form-control" name="fullName" [(ngModel)]="userModel.FullName">
            </div>

            <div class="form-group">
              <div class="icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
              <input type="tel" class="tel form-control" name="phone" [(ngModel)]="userModel.PhoneNumber">
            </div>

            <div class="form-group">
              <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              <input disabled type="email" class="email form-control" name="email" [(ngModel)]="userModel.Email">
            </div>
          </form>
        </div><!-- edit-info -->

        <ul class="numbers">
          <li (click)="scrollInto('horses-for-sale')"><span class="number">{{userModel.TotalForSale}}</span> {{'PROFILE.HORSES_FOR_SALE' | translate}}</li>
          <li (click)="scrollInto('references')"><span class="number">{{userModel.TotalReferenes}}</span> {{'PROFILE.REFERENCES' | translate}}</li>
          <li (click)="scrollInto('favorites')" *ngIf="userModel.UserId == currentUserId"><span class="number">{{userModel.TotalFavorites}}</span> {{'PROFILE.WISH_LIST' | translate}}</li>
          <!--<li><span class="number">{{userModel.Email}}</span> meetings</li>
          <li><span class="number">{{userModel.Email}}</span>feedbacks</li>-->
        </ul>
      </div><!-- col-sm-6 -->

      <div class="col-sm-3 ctas">
        <a (click)="showSendEmailModal() ">{{'HORSE_AD_DETAIL.SEND_EMAIL' | translate}}</a>
        <!--<a href="">Ask for a meeting</a>
        <a href="">Write a review</a>-->
      </div><!-- col-sm-3 -->
    </div><!-- row -->

    <div class="horse-wrapper">

      <!-- HORSES FOR SALE -->
      <ul *ngIf="userModel.TotalForSale != 0" class="category-list-title">
        <li class="category-title">{{'PROFILE.HORSES_FOR_SALE' | translate}}</li>
        <li><a (click)="goToUserHorsesForSale()">{{ 'HORSE_LIST_VIEW_MORE' | translate }} <i aria-hidden="true" class="fa fa-angle-right"></i></a></li>
      </ul>
      <horse-list id="horses-for-sale" [horses]="userModel.HorsesForSale" [threeOnRow]="true"></horse-list>

      <!-- WISH LIST -->
      <ul *ngIf="userModel.UserId == currentUserId && userModel.TotalFavorites != 0" class="category-list-title">
        <li class="category-title">{{'PROFILE.WISH_LIST' | translate}}</li>
        <li><a (click)="goToUserWishList()">{{ 'HORSE_LIST_VIEW_MORE' | translate }} <i aria-hidden="true" class="fa fa-angle-right"></i></a></li>
      </ul>
      <horse-list id="favorites" *ngIf="userModel.UserId == currentUserId" [horses]="userModel.FavoriteHorses" [threeOnRow]="true"></horse-list>

      <!-- REFERENCES -->
      <ul *ngIf="userModel.TotalReferenes != 0" class="category-list-title">
        <li class="category-title">{{'PROFILE.REFERENCES' | translate}}</li>
        <li><a (click)="goToUserHorseReferences()">{{ 'HORSE_LIST_VIEW_MORE' | translate }} <i aria-hidden="true" class="fa fa-angle-right"></i></a></li>
      </ul>
      <horse-list id="references" [horses]="userModel.ReferenceHorses" [threeOnRow]="true"></horse-list>

    </div><!-- horse-wrapper-->
  </div><!-- container -->
</div><!--profile-info -->


<div class="modal fade navbar-modals send-email" bsModal #sendEmailModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" (onHide)="onSendEmailModalClose()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p (click)="sendEmailModal.hide()" class="close-modal-mobile"><i class="fa fa-times" aria-hidden="true"></i></p>

        <div class="horse-logo">
          <img src="../../../../wwwroot/assets/images/logo_2.png" alt="Horse Spot Logo">
        </div><!-- horse-logo -->

        <div class="form">
          <section *ngIf="errorMessage" class="client-side-validation-error">{{errorMessage}}</section>

          <p style="text-align: left; font-size: 14px;color: #767676;" *ngIf="currentUserId == undefined">
            Note: We will not store your email or use it for any purpose.
            Your email is requested as an information in order for seller to respond to your email.
          </p>

          <form #sendEmailForm="ngForm">
            <!--Email input + client side validation-->
            <div *ngIf="email.errors && email.touched" class="client-side-validation-error">
              <small [hidden]="!email.errors.required">
                {{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.EMAIL_ERROR' | translate}}
              </small>
              <small [hidden]="!email.errors.pattern">
                {{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.EMAIL_INVALID' | translate}}
              </small>
            </div>
            <input type="text" [(ngModel)]="emailModel.Sender" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" #email="ngModel"
                   class="form-control" name="senderEmail" placeholder="{{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.EMAIL_PLACEHOLDER' | translate}}">

            <div *ngIf="senderName.errors && senderName.touched" class="client-side-validation-error">
              <small [hidden]="!senderName.errors.required">
                {{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.NAME_ERROR' | translate}}
              </small>
            </div>
            <input type="text" required #senderName="ngModel" [(ngModel)]="emailModel.SenderName" class="form-control" name="senderName" placeholder="{{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.NAME_PLACEHOLDER' | translate}}">

            <div *ngIf="message.errors && message.touched" class="client-side-validation-error">
              <small [hidden]="!message.errors.required">
                {{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.MSG_ERROR' | translate}}
              </small>
            </div>
            <textarea name="message" required #message="ngModel" [(ngModel)]="emailModel.Message" rows="4" cols="50" placeholder="{{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.MSG_PLACEHOLDER' | translate}}"></textarea>
          </form>
          <button class="save" (click)="sendEmailToUser()" [disabled]="!sendEmailForm.form.valid">{{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.SEND_BTN' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Send Email Modal -->

<div class="modal fade navbar-modals send-email" bsModal #changePasswordModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" (onHide)="onChangePasswordModalClose()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p (click)="changePasswordModal.hide()" class="close-modal-mobile"><i class="fa fa-times" aria-hidden="true"></i></p>
        <div class="horse-logo">
          <img src="../../../../wwwroot/assets/images/logo_2.png" alt="Horse Spot Logo">
        </div><!-- horse-logo -->
        <div class="form">
          <form #changePasswordForm="ngForm" action="">
            <p *ngIf="changePasswordErrorMessage" class="client-side-validation-error">{{changePasswordErrorMessage}}</p>

            <div *ngIf="currentPassword.errors && currentPassword.touched" class="client-side-validation-error">
              <small [hidden]="!currentPassword.errors.required">
                {{'PROFILE.CHANGE_PASS.CURR_PASS_ERR' | translate}}
              </small>
            </div> <!-- current-password client-side-validation-error -->
            <div class="form-group">
              <input name="current-password" type="password" class="form-control" id="cpass" required name="currentPassword" [(ngModel)]="changePasswordModel.CurrentPassword" #currentPassword="ngModel" placeholder="{{'PROFILE.CHANGE_PASS.CURR_PASS' | translate}}">
            </div>
            <!-- form-group -->
            <div *ngIf="newPassword.errors && newPassword.touched" class="client-side-validation-error">
              <small [hidden]="!newPassword.errors.required">
                {{'PROFILE.CHANGE_PASS.NEW_PASS_ERROR' | translate}}
              </small>
              <small [hidden]="!newPassword.errors.minlength">
                {{'PROFILE.CHANGE_PASS.NEW_PASS_INVALID' | translate}}
              </small>
            </div>
            <!-- new-password client-side-validation-error -->
            <div class="form-group">
              <input name="new-password" type="password" class="form-control" id="npass" required minlength="6" reverse="true" validateEqual="confirmPassword" [(ngModel)]="changePasswordModel.NewPassword" #newPassword="ngModel" placeholder="{{'PROFILE.CHANGE_PASS.NEW_PASS' | translate}}">
            </div>
            <!-- form-group -->

            <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)" class="client-side-validation-error">
              <small [hidden]="!confirmPassword.errors">
                {{'PROFILE.CHANGE_PASS.CONFIRM_PASS_ERROR' | translate}}
              </small>
            </div>
            <!-- confirm-password client-side-validation-error -->
            <div class="form-group">
              <input name="confirm-password" type="password" class="form-control" id="confpass" required validateEqual="newPassword" [(ngModel)]="changePasswordModel.ConfirmPassword" #confirmPassword="ngModel" placeholder="{{'PROFILE.CHANGE_PASS.CONFIRM_PASS' | translate}}">
            </div>
            <!-- form-group -->

          </form>

          <button class="save" (click)="changePassword()" [disabled]="!changePasswordForm.form.valid">{{'PROFILE.CHANGE_PASS.SAVE_BTN' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade navbar-modals send-email" bsModal #deleteAccountModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p (click)="deleteAccountModal.hide()" class="close-modal-mobile"><i class="fa fa-times" aria-hidden="true"></i></p>

        <div class="horse-logo">
          <img src="../../../../wwwroot/assets/images/logo_2.png" alt="Horse Spot Logo">
        </div><!-- horse-logo -->

        <div class="form">
          <p *ngIf="deleteUserErrorMessage" class="client-side-validation-error">{{deleteUserErrorMessage}}</p>

          <p>
            Are you sure you want to delete your account? <br /> <br />
            <span style="font-size: 14px;color: #767676;">Note: Hitting 'YES' will permanently delete your account and your advertisments from our database.</span>
          </p>
          <button class="save" (click)="deleteUser()">Yes</button>
          <button class="cancel" (click)="deleteAccountModal.hide()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
