<div class="container contact-section hire-us">

  <div class="row">
    <div class="col-sm-8">
      <div class="title-wrapper">
        <h4>{{'CONTACT_PAGE.TITLE' | translate}}</h4>
      </div>
      <p>{{'CONTACT_PAGE.TITLE_TEXT' | translate}}<br>{{'CONTACT_PAGE.TITLE_TEXT_2' | translate}}</p>

      <form #contactForm="ngForm">
        <div class="form-group">
          <div *ngIf="email.errors && email.touched" class="client-side-validation-error">
            <small [hidden]="!email.errors.required">
              {{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.EMAIL_ERROR' | translate}}
            </small>
            <small [hidden]="!email.errors.pattern">
              {{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.EMAIL_INVALID' | translate}}
            </small>
          </div>
          <input type="text" class="form-control" [(ngModel)]="emailModel.Sender" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" #email="ngModel" name="senderEmail" placeholder="{{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.EMAIL_PLACEHOLDER' | translate}}">
        </div>

        <div class="form-group">
          <div *ngIf="senderName.errors && senderName.touched" class="client-side-validation-error">
            <small [hidden]="!senderName.errors.required">
              {{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.NAME_ERROR' | translate}}
            </small>
          </div>
          <input type="text" required #senderName="ngModel" [(ngModel)]="emailModel.SenderName" class="form-control" name="senderName" placeholder="{{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.NAME_PLACEHOLDER' | translate}}">
        </div>

        <div class="form-group">
          <div *ngIf="message.errors && message.touched" class="client-side-validation-error">
            <small [hidden]="!message.errors.required">
              {{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.MSG_ERROR' | translate}}
            </small>
          </div>
          <textarea cols="30" rows="10" name="message" required #message="ngModel" [(ngModel)]="emailModel.Message" placeholder="{{'HORSE_AD_DETAIL.SEND_MAIL_MODAL.MSG_PLACEHOLDER' | translate}}"></textarea>
        </div>

        <button type="submit" class="btn btn-default" [disabled]="!contactForm.form.valid" (click)="send()">{{'CONTACT_PAGE.SUBMIT_BTN' | translate}}</button>
      </form>
    </div> <!-- col-sm-8 -->

    <right-side-advertisments></right-side-advertisments>

  </div><!--row -->

</div><!--contact-section -->
