<div class="container cookies-page">
  <p>This site uses cookies in order to analyze the traffic, offer a good user experience and to personalise content and ads served by Google AdSense.
  Most of our cookies come from third parties like Google Analytics and Google AdSense.
  We do not use any cookies for advertising specific horse advertisments.
  All the cookies we use are necessary.
  Please find below a table with cookies used by <a href="www.horse-spot.com">horse-spot.com</a> and their usage.</p>
  <br />
  <table style="width: 100%;">
    <tr>
      <th>Cookie Name</th>
      <th>Usage</th>
    </tr>
    <tr>
      <td>_ga</td>
      <td>Used to distinguish users by Google Analytics.</td>
    </tr>
    <tr>
      <td>_gid</td>
      <td>Used to distinguish users by Google Analytics.</td>
    </tr>
    <tr>
      <td>_gat</td>
      <td>Used to throttle request rate. If Google Analytics is deployed via Google Tag Manager, this cookie will be named _dc_gtm_property-id>.</td>
    </tr>
    <tr>
      <td>NID</td>
      <td>Cookie used by third parties - Google AdSense.</td>
    </tr>
    <tr>
      <td>1P_JAR</td>
      <td>Cookie used by third parties - Google AdSense, Google Analytics.</td>
    </tr>
    <tr>
      <td>.AspNet.Correlation.Facebook</td>
      <td>Cookie used by our backend service in order to facilitate connecting with facebook.</td>
    </tr>
    <tr>
      <td>_cahs</td>
      <td>Cookie set by us when you accept the cookie policy and it has a lifetime of 90 days.</td>
    </tr>
  </table>
  <br />
  <br />
</div>
