<div class="container">
  <div class="row">
    <div class="col-md-8">
      <article style="font-size:16px; text-align:justify">
        <b style="font-weight:700; font-size:18px">USER AGREEMENT</b>      
        <p>This Agreement describes the terms and conditions applicable to your use of our services at www.horse-spot.com. If you do not agree with any part of this Agreement, you may not use or access our services. You must read and agree with all our terms and conditions as well as the Privacy Policy.</p>

        <b style="font-weight:700; font-size:18px">ADVERT CONTENTS</b>
        <p>1. Advert contents on www.horse-spot.com are only for general information.</p>
        <p>2. The Horse Spot web site is constantly updated by sellers with horses for sale and all the ads are validated by a Horse Spot administrator. However, we exclude any warranties as to the quality, accuracy, completeness, performance, fitness for a particular purpose of the site or any of its contents.</p>
        <p>3. Horse Spot, its owners and its administrative department will not be liable for any damages without limitation, damages for any consequential loss or loss of business opportunities or loss of profits. However, arising from the use of or inability to use the Horse Spot web site, or any of its contents, or from any action or omission taken as a result of using the site or any of its contents.</p>
        <p>4. We make no warranty that the contents of the web site are free from infection or viruses or anything else which has contaminating or destructive properties and shall have no liability in respect thereof.</p>
        <p>5. All liability is excluded to the extent permitted by law including any implied terms.</p>

        <b style="font-weight:700; font-size:18px">PHOTOGRAPHS</b>
        <p>6. All photographs used on the web site must have the prior consent of the photographer. The seller is responsible for gaining any photographers approval prior to forwarding photographs to Horse Spot to use on the web site. Horse Spot cannot be held responsible for any issues arising due to copyright protection on photographs.</p>

        <b style="font-weight:700; font-size:18px">LINKS</b>
        <p>7. If linked in description, the web site address stated in the advert must be the web site address that the link points to, redirection of web site links to a different web site will not be accepted.</p>
        <p>8. You should note that certain links on the web site lead to resources located on servers maintained by third parties over whom we have no control and accordingly we accept no responsibility or liability for any of the material contained on those servers.</p>

        <b style="font-weight:700; font-size:18px">REFUSAL OF ADVERTS</b>
        <p>9. Horse Spot accepts adverts at its own discretion. Horse Spot has a right to reject any adverts if feels does not comply with the terms and conditions of advertising. Horse Spot does not have to justify its reasoning for the rejection of any adverts.</p>       
        <p>11. If an advertiser does not comply with Horse Spot Terms and Conditions of Advertising, Horse Spot will withdraw any sellers advert from the web site without warning.</p>
        
        <b style="font-weight:700; font-size:18px">EMAILS SENT TO SELLERS</b>
        <p>12. Emails sent to sellers from any advert page are not filtered by Horse Spot and Horse Spot are not responsible for its contents.</p>
       
        <br />
        <b style="font-weight:700; font-size:18px; text-transform:uppercase">The Horse Spot Web Site</b>
        <p> Horse Spot represents an online market which allows users to sell and buy horses from different categories, at any time, from anywhere. However, we are not involved in transactions between buyers and sellers, thus, we cannot control the quality or the health of the horses advertised, the accuracy of the listings or the ability of sellers to sell or the ability of buyers to buy. Do not assume that the sale, purchase, export or import of any horse is legal simply because it is available on our website. Horse Spot is not responsible for ensuring that buyers and sellers complete a transaction. Horse Spot is not responsible for buyers purchasing horses that are unsuitable for the capability of the purchaser. Buyers buy at their own risk and must take the appropriate professional advice prior to purchasing.</p>
        <p>Horse Spot cannot and does not confirm the identity of users or the validity of the information which users submits to our website.</p>
        <p>In the case that you have any complaint any other user arising from that user's use of our website, you agree to pursue and resolve any of the issues independently of and without recourse to us, and you release Horse Spot from all issues, damages, costs and expenses, known and unknown that this may cause.</p>
        <p>The Information you provide to us from Horse Spot web site includes any information you fill in through our services, without limitation. You are the only responsible for the information you submitted, and we act as a passive conduit for your online distribution and publication of your information.</p>

        <p>Information and activity that you have on www.horse-spot.com must not:</p>
        <ul style="padding-left: 50px;">
          <li>Be false, inaccurate or misleading;</li>
          <li>Be offensive, abusive, defamatory or in breach of copyright, privacy or any other rights;</li>
          <li>Be fraudulent or involve the sale of not owned horses;</li>
          <li>Link directly or indirectly any competitor of Horse Spot;</li>
          <li>Contain any computer viruses, macro viruses, trojan horses, worms or anything else designed to interfere with, interrupt or disrupt the normal operating procedures of a computer or to surreptitiously intercept, access without authority or expropriate any system, data or personal information;</li>
          <li>Cause our website to be interrupted, damaged, rendered less efficient or such that the effectiveness or functionality of our website is in any way impaired;</li>
        </ul>

        <br />
        <p>Horse Spot can at any time, to delete your account without notification and explanation, if any point of the Agreement is violated.</p>
        <p>Please note that the information you provide will be stored and processed on our cloud servers. Horse Spot will hold and transmit the information in a safe, confidential and secure environment. Horse Spot will never sell or rent your personal information to third parties or any other business or person.</p>
        <p>We do not guarantee continuous, uninterrupted or secure access to our services, and operation of our website may be interfered with by numerous factors outside of our control.</p>
        
        <b style="font-weight:700">© Horse Spot 2018</b>
        <br />
        <br />
      </article>
    </div>

    <right-side-advertisments></right-side-advertisments>

  </div>
</div>
