<div class="container">
  <div class="row">
    <div class="col-md-8">
      <article style="font-size:16px;">
        <br />
        <b style="font-weight:700">USER AGREEMENT</b>
        <br />
        This Agreement describes the terms and conditions applicable to your use of our services at www.horse-spot.com. If you do not agree with any part of this Agreement, you may not use or access our services. You must read and agree with all our terms and conditions as well as the Privacy Policy.
        <br />
        <br />
        <b style="font-weight:700">ADVERT CONTENTS</b>
        <br />
        1. Advert contents on www.horse-spot.com are only for general information.
        <br />
        2. The Horse Spot web site is constantly updated by sellers with horses for sale and all the ads are validated by a Horse Spot administrator. However, we exclude any warranties as to the quality, accuracy, completeness, performance, fitness for a particular purpose of the site or any of its contents.
        <br />
        3. Horse Spot, its owners and its administrative department will not be liable for any damages without limitation, damages for any consequential loss or loss of business opportunities or loss of profits. However, arising from the use of or inability to use the Horse Spot web site, or any of its contents, or from any action or omission taken as a result of using the site or any of its contents.
        <br />
        4. We make no warranty that the contents of the web site are free from infection or viruses or anything else which has contaminating or destructive properties and shall have no liability in respect thereof.
        <br />
        5. All liability is excluded to the extent permitted by law including any implied terms.
        <br />
        <br />
        <b style="font-weight:700">PHOTOGRAPHS</b>
        <br />
        6. All photographs used on the web site must have the prior consent of the photographer. The seller is responsible for gaining any photographers approval prior to forwarding photographs to Horse Spot to use on the web site. Horse Spot cannot be held responsible for any issues arising due to copyright protection on photographs.
        <br />
        <br />
        <b style="font-weight:700">LINKS</b>
        <br />
        7. If linked in description, the web site address stated in the advert must be the web site address that the link points to, redirection of web site links to a different web site will not be accepted.
        <br />
        8. You should note that certain links on the web site lead to resources located on servers maintained by third parties over whom we have no control and accordingly we accept no responsibility or liability for any of the material contained on those servers.
        <br />
        <br />
        <b style="font-weight:700">REFUSAL OF ADVERTS</b>
        <br />
        9. Horse Spot accepts adverts at its own discretion. Horse Spot has a right to reject any adverts if feels does not comply with the terms and conditions of advertising. Horse Spot does not have to justify its reasoning for the rejection of any adverts.
        <br />
        11. If an advertiser does not comply with Horse Spot Terms and Conditions of Advertising, Horse Spot will withdraw any sellers advert from the web site without warning.
        <br />
        <br />
        <b style="font-weight:700">EMAILS SENT TO SELLERS</b>
        <br />
        12. Emails sent to sellers from any advert page are not filtered by Horse Spot and Horse Spot are not responsible for its contents.
        <br />
        <br />
        <b style="font-weight:700">The Horse Spot Web Site</b>
        <br />
        Horse Spot represents an online market which allows users to sell and buy horses from different categories, at any time, from anywhere. However, we are not involved in transactions between buyers and sellers, thus, we cannot control the quality or the health of the horses advertised, the accuracy of the listings or the ability of sellers to sell or the ability of buyers to buy. Do not assume that the sale, purchase, export or import of any horse is legal simply because it is available on our website. Horse Spot is not responsible for ensuring that buyers and sellers complete a transaction. Horse Spot is not responsible for buyers purchasing horses that are unsuitable for the capability of the purchaser. Buyers buy at their own risk and must take the appropriate professional advice prior to purchasing.
        <br />
        Horse Spot cannot and does not confirm the identity of users or the validity of the information which users submits to our website.
        <br />
        In the case that you have any complaint any other user arising from that user's use of our website, you agree to pursue and resolve any of the issues independently of and without recourse to us, and you release Horse Spot from all issues, damages, costs and expenses, known and unknown that this may cause.
        <br />
        The Information you provide to us from Horse Spot web site includes any information you fill in through our services, without limitation. You are the only responsible for the information you submitted, and we act as a passive conduit for your online distribution and publication of your information.
        <br />
        Information and activity that you have on www.horse-spot.com must not:
        <br />
        <ul style="list-style:none; padding-left: 20px;">
          <li>- Be false, inaccurate or misleading;</li>
          <li>- Be offensive, abusive, defamatory or in breach of copyright, privacy or any other rights;</li>
          <li>- Be fraudulent or involve the sale of not owned horses;</li>
          <li>- Link directly or indirectly any competitor of Horse Spot;</li>
          <li>
            - Contain any computer viruses, macro viruses, trojan horses, worms or anything else designed to interfere with, interrupt or disrupt the normal operating procedures of a computer or to surreptitiously intercept, access without authority or expropriate any system, data or personal information;
          </li>
          <li>
            - Cause our website to be interrupted, damaged, rendered less efficient or such that the effectiveness or functionality of our website is in any way impaired.
          </li>
        </ul>
        Horse Spot can at any time, to delete your account without notification and explanation, if any point of the Agreement is violated.
        <br />
        Please note that the information you provide will be stored and processed on our cloud servers. Horse Spot will hold and transmit the information in a safe, confidential and secure environment. Horse Spot will never sell or rent your personal information to third parties or any other business or person.
        <br />
        We do not guarantee continuous, uninterrupted or secure access to our services, and operation of our website may be interfered with by numerous factors outside of our control.
        <br />
        <br />
        <b style="font-weight:700">Privacy Policy</b>
        <br />
        We are doing our best to protect your personal privacy. By providing your personal details to us, you signify your acceptance of our Privacy Policy. If you do not agree to this statement, please do not provide your personal details to us.
        <br />
        We gather the following information from visitors to our site:
        <br />
        <ul style="list-style:none; padding-left: 20px;">
          <li>- the IP address from which you access the site</li>
          <li>- the type of browser and operating system used to access the site</li>
          <li>- the date and time of your access to the site</li>
          <li>- the pages you visit</li>
          <li>- the internet address of the website from which you accessed the site</li>
        </ul>
        We use this information only for tracking records and to learn how our visitors act, what technology they use and how we can improve our services.
        <br />
        We may compile and report to third parties (such as advertisers) aggregate statistics about our users and visitors in terms of numbers, traffic patterns and related site information.
        <br />
        We may disclose your personal information if permitted by law or required to do so by law or where we believe such action is necessary in order to protect or defend our interests or the interests of our customers or users of our site.
        <br />
        Due to the open communication nature of the Internet, we cannot guarantee that communications between you and us, or information stored on our servers, will be free from unauthorized access by third parties.
        <br />
        Horse Spot web site may contain links or references to other web sites outside of our control. Please be aware that we have no control over these sites and our privacy policy does not apply to these sites.
        <br />
        You agree that we may use personally identifiable information about you to analyze site usage, to improve our marketing strategy and customize our site's design and services.
        <br />
        Due to the nature of the internet, we cannot ensure that all of your private communications and other personally identifiable information will never be disclosed in ways not otherwise described in this Privacy Policy.
        <br />
        Your name and email address are required in order to sign up with Horse Spot. Also, for a better communication with sellers or buyers we ask for your phone number, but it is not required to submit it. By submitting this information to us you agree to make them public on Horse Spot web site and to be available to any visitors of the web site. At any time you can update your information, excluding your email address, which is your Horse Spot account identification.
        <br />
        At any time, you can submit a complete information removal from our database by email. However, such information may never be completely deleted from our system due to technical and legal constraints, including stored “back-up” systems.
        <br />
        Horse Spot uses standard practices to safeguard the confidentiality of your personal identifiable information. However, "perfect security" does not exist on the Internet.
        <br />
        By accepting this Privacy Policy and the User Agreement, you expressly consent to our use and disclosure of your personal information in the manner.
        <br />
        <br />
        <b style="font-weight:700">© Horse Spot 2018</b>
        <br />
        <br />
      </article>
    </div>

    <right-side-advertisments></right-side-advertisments>

  </div>
</div>
