<div class="container">
  <div class="profile-info">
    <a (click)="back()" class="go-back"><i class="fa fa-angle-left" aria-hidden="true"></i> {{'HORSE_AD_DETAIL.BACK' | translate}}</a>
    <div class="user-info-row">
      <img class="profile-image-user" src="{{profileImageUrl}}">
      <div class="main-info">
        <div class="user-profile-details">
          <p class="name">{{userModel.FirstName}}</p>
          <ul class="email">
            <li *ngIf="userModel.PhoneNumber"><a href="tel:{{userModel.PhoneNumber}}"><i class="fa fa-mobile" aria-hidden="true"></i> {{userModel.PhoneNumber}}</a></li>
            <li><a href="{{userModel.Email}}"><i class="fa fa-envelope" aria-hidden="true"></i> {{userModel.Email}}</a></li>
          </ul>
        </div><!-- profile-details -->
      </div><!-- main-info -->
    </div><!-- row -->
  </div>

  <div class="horse-wrapper">
    <ul class="category-list-title">
      <li class="category-title category-title-user">{{'PROFILE.WISH_LIST' | translate}}</li>
    </ul>

    <horse-list [horses]="userFavoritesPosts" [threeOnRow]="true"></horse-list>
  </div>
</div>

<pagination *ngIf="userFavoritesPosts.length != 0" [itemsPerPage]="adsPerPage" [totalItems]="totalNumber" [(ngModel)]="pageNumber" [maxSize]="8" 
            class="pagination-sm" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
